# -----------------------------
# Core Backend
# -----------------------------
fastapi
uvicorn[standard]
pydantic
python-multipart

# -----------------------------
# Authentication & Security
# -----------------------------
python-jose[cryptography]
passlib[bcrypt]

# -----------------------------
# LangChain & LLM
# -----------------------------
langchain
langchain-community
langchain-core
langchain-chroma

# -----------------------------
# Document Loaders
# -----------------------------
pypdf
python-docx
unstructured

# -----------------------------
# Database
# -----------------------------

psycopg2-binary
pymongo
pymongo[srv]

# -----------------------------
# Utilities
# -----------------------------
python-dotenv
tqdm
httpx
loguru
